<li>
    {{burger_name}}
    {{#unless devoured}}
    <!--Change Devoured State to True-->
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="1">OM NOM NOM!
    </button>
    {{/unless}}
</li>